.banner {
  margin: 0 auto;
}

.slick-slide img {
  width: 100%;
}

.slick-next:before, [dir=rtl] .slick-prev:before {
  content: '>';
}

.slick-prev:before {
  content: '<';
}

.slick-next:before, .slick-prev:before {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  color: #000;
}

.slick-dots li button:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  text-align: center;
  opacity: 1;
  background-color: #D9D9D9;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  background-color: #E80638;
}
